<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Event - Tazkarti Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
    <div class="sidebar">
        <h2>Tazkarti Admin</h2>
        <a th:href="@{/admin/dashboard}">Dashboard</a>
        <a th:href="@{/admin/add-event}" class="active">+ New Event</a>
    </div>

    <div class="main-content">
        <div class="card">
            <h1>Create New Event</h1>
            <form th:action="@{/admin/save}" th:object="${eventDTO}" method="POST">
                <div class="form-group">
                    <label>Event Name</label>
                    <input type="text" th:field="*{title}" placeholder="e.g. Cairo Tech Summit" required>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" th:field="*{location}" placeholder="Venue Name" required>
                </div>
                <div class="form-group">
                    <label>Price (EGP)</label>
                    <input type="number" step="0.01" th:field="*{price}" required>
                </div>
                <div class="form-group">
                    <label>Capacity</label>
                    <input type="number" th:field="*{capacity}" required>
                </div>
                <div class="form-group">
                    <label>Image URL</label>
                    <input type="text" th:field="*{imageUrl}"placeholder="Paste image URL here">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea th:field="*{description}" rows="5" placeholder="Describe the event" required>
                 </textarea>
                </div>
                <button type="submit" class="btn btn-save">Create Event</button>
                <a th:href="@{/admin/dashboard}" style="margin-left:15px;">Cancel</a>
            </form>
        </div>
    </div>
</body>
</html>