<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Tazkarti Admin Panel</h1>
    <a th:href="@{/admin/add-event}">+ Add New Event</a>
    <table border="1" style="width:100%; margin-top:20px;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.title}"></td>
                <td th:text="${event.location}"></td>
                <td th:text="${event.price}"></td>
                <td>
                    <a th:href="@{/admin/delete/{id}(id=${event.id})}" 
                       onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Send Email</h2>

<form th:action="@{/admin/send-email}" method="post">

    <label>Email:</label><br>
    <input type="email" name="to" required><br><br>

    <label>Subject:</label><br>
    <input type="text" name="subject" required><br><br>

    <label>Message:</label><br>
    <textarea name="body" rows="5" cols="40" required></textarea><br><br>

    <button type="submit">
        Send Email
    </button>

</form>
</body>
</html>