<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <nav th:fragment="navbar" class="nav">
        <h1 class="logo">TicketZone</h1>

        <ul class="nav-links">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/events}">Events</a></li>
            
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/support}">Support</a></li>
            
            <th:block sec:authorize="isAnonymous()">
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Sign Up</a></li>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <li><a th:href="@{/my-bookings}">My Bookings</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                
                <th:block sec:authorize="hasRole('ADMIN')">
                    <li><a th:href="@{/admin/dashboard}">Admin Panel</a></li>
                </th:block>
                
                <li><a th:href="@{/logout}">Logout</a></li>
            </th:block>
        </ul>
    </nav>

</body>
</html>