<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register - TicketZone</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<header class="hero">

    <nav th:replace="~{navbar :: navbar}"></nav>

    <div class="hero-content">
        <p class="tag">Join Us</p>
        <h2>Create Your Account</h2>
    </div>

</header>

<main class="simple-main">

    <section class="simple-section auth-wrap">

        <h3 style="text-align: center; margin-bottom: 15px;">Create Account</h3>

        <div th:if="${error}" style="color: white; background: #e74c3c; padding: 10px; border-radius: 6px; margin-bottom: 15px; text-align: center;">
            <p th:text="${error}"></p>
        </div>

        <form action="/register"
              method="post"
              class="auth-form">

            <input type="text"
                   name="name"
                   placeholder="Enter Name"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Enter Email"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required
                   minlength="8">

            <button type="submit"
                    class="btn btn-primary"
                    style="margin-top: 10px;">
                Register
            </button>

        </form>

        <p style="text-align: center; margin-top: 15px;">
            Already have an account?
            <a th:href="@{/login}" style="color: var(--primary); font-weight: bold;">
                Login Here
            </a>
        </p>

    </section>

</main>

<footer th:replace="~{footer :: footer}"></footer>

</body>

</html>